/* รูปรายการ */
.img-list{
    margin-top: 1rem;
    width: 180px;
    height: 170px;
    border-radius: 10px;
}
.btnt{
  
   margin-top: 4rem;
   padding: 1rem;
   border-radius: 20px ;

}

.info-td{
    font-size: 20px;
    padding-top: 4rem;
}

/* หน้าแสดงข้อมูลแคคตัส */


.imgpro{
    width: 350px;
    height: 340px;
    margin: 10% 15%;
    padding: 0;
    border-radius: 10px;
    
}

.nameOf{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4rem;
    margin-left: 0rem;
    padding: 0;
    
}
 .colpro{
     
     max-width: 450px;
 }

 .des{
     margin: 3rem;
     margin-right: 5rem;
     margin-bottom: 4rem;
 }

 p{
   
    font-size: large;
    font-weight: 400;
    text-indent: 50px;
    text-align: justify;
    margin-bottom: 3rem;

 }

 .desPic{
     height: 300px;
     width: 360px;
     border-radius: 5px ;
 }
 
 .desPic2{
    height: 600px;
    width: 800px;
    border-radius: 5px ;
}

.side-bar{
  
}
 

